/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.frameImage {
  padding: 2rem 0;
}

.frameImage__simple {
  display: block;
  @media screen and (min-width: 996px) {
    display: none;
  }
}

.frameImage__large {
  display: none;
  @media screen and (min-width: 996px) {
    display: block;
  }
}

.frameOverline {
  text-align: center;
  font-family: "Libre Caslon Condensed", serif;
  font-size: calc(1rem + 1vw);
  line-height: 1.25em;
}

.frameTitle {
  letter-spacing: -0.02em;
  text-align: center;
  font-size: calc(2rem + 6vw);
  line-height: 1em;
  margin-bottom: 0.25em;
}

.frameLogo {
  width: 200px;
  height: auto;
  margin: 0 auto;
  box-shadow: none;
}

.frameButtons {
  padding: 2rem 0;
  text-align: center;
}
