/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Font declarations */
@font-face {
  font-family: "Libre Caslon Condensed";
  src: url("/fonts/LibreCaslonCondensed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libre Caslon Condensed";
  src: url("/fonts/LibreCaslonCondensed-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #cc1f1f;
  --ifm-color-primary-dark: #b81c1c;
  --ifm-color-primary-darker: #ad1a1a;
  --ifm-color-primary-darkest: #8f1616;
  --ifm-color-primary-light: #de2525;
  --ifm-color-primary-lighter: #df2f2f;
  --ifm-color-primary-lightest: #e44d4d;

  --ifm-color-gray-0: #fbf3e3;
  --ifm-color-gray-100: #f0e8d8;
  --ifm-color-gray-200: #d5cec0;
  --ifm-color-gray-300: #bab4a8;
  --ifm-color-gray-400: #9f9a90;
  --ifm-color-gray-500: #858078;
  --ifm-color-gray-600: #6a6660;
  --ifm-color-gray-700: #4f4c48;
  --ifm-color-gray-800: #343230;
  --ifm-color-gray-900: #1a1919;
  --ifm-color-gray-1000: #111010;

  --ifm-color-secondary: var(--ifm-color-emphasis-200);
  --ifm-color-secondary-dark: var(--ifm-color-emphasis-300);
  --ifm-color-secondary-darker: var(--ifm-color-emphasis-400);
  --ifm-color-secondary-darkest: var(--ifm-color-emphasis-500);
  --ifm-color-secondary-light: var(--ifm-color-emphasis-100);
  --ifm-color-secondary-lighter: var(--ifm-color-emphasis-50);
  --ifm-color-secondary-lightest: var(--ifm-color-emphasis-0);

  --ifm-background-color: var(--ifm-color-emphasis-100);
  --ifm-background-surface-color: var(--ifm-color-emphasis-100);
  --ifm-footer-background-color: var(--ifm-color-emphasis-200);
  --ifm-card-background-color: var(--ifm-color-emphasis-0);
  --ifm-code-background: var(--ifm-color-emphasis-0);

  --ifm-toc-border-color: var(--ifm-color-emphasis-200);

  --ifm-code-font-size: 95%;
  --ifm-global-shadow-lw: 0 1px 0px rgba(0, 0, 0, 0.1);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  --ifm-color-primary: #e52323;
  --ifm-color-primary-dark: #d41919;
  --ifm-color-primary-darker: #c91818;
  --ifm-color-primary-darkest: #a51414;
  --ifm-color-primary-light: #e83b3b;
  --ifm-color-primary-lighter: #e94646;
  --ifm-color-primary-lightest: #ed6a6a;

  --ifm-global-shadow-lw: 0 1px 0px rgba(0, 0, 0, 0.3);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter;
  letter-spacing: -0.02em;
  font-family: "Libre Caslon Condensed", serif;
}

.navbar {
  border-bottom: 1px solid var(--ifm-toc-border-color);
  box-shadow: none;
}

.footer {
  background: var(--ifm-footer-background-color);
  position: relative;
  margin-top: 6rem;
}

.footer::before {
  content: "";
  display: block;
  position: absolute;
  height: 4rem;
  width: 100%;
  top: -4rem;
  left: 0;
  background-image: linear-gradient(
    var(--ifm-color-emphasis-200) 0.2rem,
    transparent 0.1rem
  );
  background-size: 100% 0.5rem;
}

.footer__copyright {
  text-align: left;
}

.card {
  box-shadow: var(--ifm-global-shadow-lw) !important;
}
article img {
  border-radius: 0.5rem;
  box-shadow: var(--ifm-global-shadow-lw);
}

.button.button--secondary {
  color: var(--ifm-font-color-base);
}
