.galleryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 16px;
  margin: 2rem 0;
}
.galleryGrid div {
  aspect-ratio: 3.1 / 2.33;
}

.galleryGrid div img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
